{
  "openapi": "3.1.0",
  "info": {
    "title": "SMTP2GO API v3.0.0_6.4",
    "version": "3.0"
  },
  "servers": [
    {
      "url": "https://api.smtp2go.com/v3"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Smtp2go-Api-Key",
        "x-default": ""
      }
    },
    "schemas": {
      "sender_domain": {
        "type": "object",
        "properties": {
          "domain": {
            "type": "object",
            "required": [
              "dkim_value",
              "domain",
              "suffix",
              "rpath_status",
              "rpath_verified",
              "rpath_value",
              "dkim_status",
              "dkim_verified",
              "subdomain",
              "fulldomain",
              "dkim_selector"
            ],
            "properties": {
              "dkim_value": {
                "type": "string",
                "example": "dkim.smtp2go.net"
              },
              "domain": {
                "type": "string",
                "example": "example"
              },
              "suffix": {
                "type": "string",
                "example": "com"
              },
              "rpath_selector": {
                "type": "string",
                "example": ""
              },
              "rpath_status": {
                "type": "string",
                "example": ""
              },
              "rpath_verified": {
                "type": "boolean",
                "example": true,
                "default": true
              },
              "rpath_value": {
                "type": "string",
                "example": "return.smtp2go.net"
              },
              "dkim_status": {
                "type": "string",
                "example": ""
              },
              "dkim_verified": {
                "type": "boolean",
                "example": true,
                "default": true
              },
              "subdomain": {},
              "fulldomain": {
                "type": "string",
                "example": "example.com"
              },
              "dkim_selector": {
                "type": "string",
                "example": "s123456"
              }
            }
          },
          "trackers": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "cname_value",
                "cname_status",
                "cname_verified",
                "enabled"
              ],
              "properties": {
                "cname_value": {
                  "type": "string",
                  "example": ""
                },
                "cname_status": {
                  "type": "string",
                  "example": ""
                },
                "cname_verified": {
                  "type": "boolean",
                  "example": false,
                  "default": true
                },
                "domain": {
                  "type": "string",
                  "example": "example"
                },
                "suffix": {
                  "type": "string",
                  "example": "com"
                },
                "subdomain": {
                  "type": "string",
                  "example": "link"
                },
                "enabled": {
                  "type": "boolean",
                  "example": false,
                  "default": true
                },
                "fulldomain": {
                  "type": "string",
                  "example": "link.example.com"
                }
              }
            }
          }
        }
      },
      "sender_domain_res": {
        "type": "object",
        "required": [
          "request_id",
          "data"
        ],
        "properties": {
          "request_id": {
            "type": "string",
            "example": "e023461c-8c86-11e9-b984-408d5cce2644"
          },
          "data": {
            "type": "object",
            "required": [
              "domains"
            ],
            "properties": {
              "domains": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "domain": {
                      "type": "object",
                      "required": [
                        "dkim_value",
                        "domain",
                        "suffix",
                        "rpath_status",
                        "rpath_verified",
                        "rpath_value",
                        "dkim_status",
                        "dkim_verified",
                        "subdomain",
                        "fulldomain",
                        "dkim_selector"
                      ],
                      "properties": {
                        "dkim_value": {
                          "type": "string",
                          "example": "dkim.smtp2go.net"
                        },
                        "domain": {
                          "type": "string",
                          "example": "example"
                        },
                        "suffix": {
                          "type": "string",
                          "example": "com"
                        },
                        "rpath_selector": {
                          "type": "string",
                          "example": ""
                        },
                        "rpath_status": {
                          "type": "string",
                          "example": ""
                        },
                        "rpath_verified": {
                          "type": "boolean",
                          "example": true,
                          "default": true
                        },
                        "rpath_value": {
                          "type": "string",
                          "example": "return.smtp2go.net"
                        },
                        "dkim_status": {
                          "type": "string",
                          "example": ""
                        },
                        "dkim_verified": {
                          "type": "boolean",
                          "example": true,
                          "default": true
                        },
                        "subdomain": {},
                        "fulldomain": {
                          "type": "string",
                          "example": "example.com"
                        },
                        "dkim_selector": {
                          "type": "string",
                          "example": "s123456"
                        }
                      }
                    },
                    "trackers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "cname_value",
                          "cname_status",
                          "cname_verified",
                          "enabled"
                        ],
                        "properties": {
                          "cname_value": {
                            "type": "string",
                            "example": ""
                          },
                          "cname_status": {
                            "type": "string",
                            "example": ""
                          },
                          "cname_verified": {
                            "type": "boolean",
                            "example": false,
                            "default": true
                          },
                          "domain": {
                            "type": "string",
                            "example": "example"
                          },
                          "suffix": {
                            "type": "string",
                            "example": "com"
                          },
                          "subdomain": {
                            "type": "string",
                            "example": "link"
                          },
                          "enabled": {
                            "type": "boolean",
                            "example": false,
                            "default": true
                          },
                          "fulldomain": {
                            "type": "string",
                            "example": "link.example.com"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "email_res": {
        "type": "object",
        "required": [
          "request_id",
          "data"
        ],
        "properties": {
          "request_id": {
            "type": "string",
            "example": "aa253464-0bd0-467a-b24b-6159dcd7be60"
          },
          "data": {
            "type": "object",
            "required": [
              "failed",
              "failures",
              "succeeded"
            ],
            "properties": {
              "failed": {
                "type": "integer",
                "example": 0,
                "default": 0,
                "description": "The number of emails that failed to send.<br><br>Note: An email with multiple recipients is classed as 1 email."
              },
              "failures": {
                "type": "array"
              },
              "succeeded": {
                "type": "integer",
                "example": 1,
                "default": 0,
                "description": "The number of emails that were successfully sent.<br><br>Note: An email with multiple recipients is classed as 1 email."
              }
            }
          }
        }
      },
      "smtp_users_res": {
        "type": "object",
        "required": [
          "request_id",
          "data"
        ],
        "properties": {
          "request_id": {
            "type": "string",
            "example": "aa253464-0bd0-467a-b24b-6159dcd7be60"
          },
          "data": {
            "type": "object",
            "required": [
              "results"
            ],
            "properties": {
              "results": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "username",
                    "sending_allowed",
                    "custom_ratelimit"
                  ],
                  "properties": {
                    "comments": {
                      "type": "string",
                      "example": "Comment explaining how amazing this Test person is"
                    },
                    "username": {
                      "type": "string",
                      "example": "smtpuser@example.com"
                    },
                    "email_password": {
                      "type": "string",
                      "example": "H#8dkK2djs"
                    },
                    "sending_allowed": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "custom_ratelimit": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "custom_ratelimit_value": {
                      "type": "integer",
                      "example": 100,
                      "default": 0,
                      "nullable": true
                    },
                    "custom_ratelimit_period": {
                      "type": "string",
                      "example": "1 day"
                    },
                    "description": {
                      "type": "string"
                    },
                    "feedback_enabled": {
                      "type": "boolean",
                      "example": true
                    },
                    "feedback_domain": {
                      "type": "string",
                      "example": "default"
                    },
                    "feedback_html": {
                      "type": "string"
                    },
                    "feedback_text": {
                      "type": "string"
                    },
                    "archive_enabled": {
                      "type": "boolean",
                      "example": true
                    },
                    "open_tracking_enabled": {
                      "type": "boolean",
                      "example": true
                    },
                    "audit_email": {
                      "type": "string",
                      "nullable": true
                    },
                    "bounce_notifications": {
                      "type": "string",
                      "example": "from"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "allowed_senders_res": {
        "type": "object",
        "required": [
          "request_id",
          "data"
        ],
        "properties": {
          "request_id": {
            "type": "string",
            "example": "40cbb6f2-935f-11e7-b5be-480fcf01a6f2"
          },
          "data": {
            "type": "object",
            "required": [
              "allowed_senders",
              "mode"
            ],
            "properties": {
              "allowed_senders": {
                "type": "array",
                "description": "A list of email addresses and domain names",
                "items": {
                  "type": "string",
                  "example": "test-person@example.com"
                }
              },
              "mode": {
                "type": "string",
                "description": "A string indicating how the list of email address and domain names is interpreted.",
                "example": "whitelist",
                "enum": [
                  "whitelist",
                  "blacklist",
                  "disabled"
                ]
              }
            }
          }
        }
      },
      "subaccount_edt_res": {
        "type": "object",
        "required": [
          "request_id",
          "data"
        ],
        "properties": {
          "request_id": {
            "type": "string",
            "example": "0ef3f48a-2cfb-11eb-aee9-408d5cce2644"
          },
          "data": {
            "type": "object",
            "required": [
              "id"
            ],
            "properties": {
              "id": {
                "type": "string",
                "example": "NDU5OTgw"
              },
              "email": {
                "type": "string",
                "example": "test@example.com"
              },
              "name": {
                "type": "string",
                "example": "Test Person"
              }
            }
          }
        }
      },
      "subaccount_add_res": {
        "type": "object",
        "required": [
          "request_id",
          "data"
        ],
        "properties": {
          "request_id": {
            "type": "string",
            "example": "0ef3f48a-2cfb-11eb-aee9-408d5cce2644"
          },
          "data": {
            "type": "object",
            "required": [
              "email",
              "state",
              "plan_size",
              "plan_remaining",
              "plan_used",
              "name"
            ],
            "properties": {
              "email": {
                "type": "string",
                "example": "test@example.com"
              },
              "state": {
                "type": "string",
                "example": "Active"
              },
              "plan_size": {
                "type": "integer",
                "example": 10000,
                "default": 0
              },
              "plan_remaining": {
                "type": "integer",
                "example": 10000,
                "default": 0
              },
              "plan_used": {
                "type": "integer",
                "example": 0,
                "default": 0
              },
              "name": {
                "type": "string",
                "example": "Test Person"
              }
            }
          }
        }
      },
      "subaccount_conf_res": {
        "type": "object",
        "required": [
          "request_id",
          "data"
        ],
        "properties": {
          "request_id": {
            "type": "string",
            "example": "d02ce100-2cfd-11eb-ab52-408d5cce2644"
          },
          "data": {
            "type": "string",
            "example": "Successfully closed subaccount test@example.com"
          }
        }
      },
      "template": {
        "type": "object",
        "required": [
          "id",
          "subject",
          "tags"
        ],
        "properties": {
          "id": {
            "type": "string",
            "example": "5355878"
          },
          "name": {
            "type": "string",
            "example": "Order receipt",
            "description": "This parameter is only returned in 'search' response"
          },
          "template_name": {
            "type": "string",
            "example": "Order receipt",
            "description": "This parameter is not present in 'search' response"
          },
          "subject": {
            "type": "string",
            "example": "Order receipt for {{ product_name }}"
          },
          "tags": {
            "type": "array",
            "required": [
              "types",
              "example"
            ],
            "items": {
              "type": "string",
              "example": "one"
            }
          }
        }
      },
      "template_res": {
        "type": "object",
        "properties": {
          "request_id": {
            "type": "string",
            "example": "f00c0856-dde8-11eb-b4ce-1002b51e60a4"
          },
          "data": {
            "type": "object",
            "required": [
              "id",
              "subject",
              "tags"
            ],
            "properties": {
              "id": {
                "type": "string",
                "example": "5355878"
              },
              "name": {
                "type": "string",
                "example": "Order receipt",
                "description": "This parameter is only returned in 'search' response"
              },
              "template_name": {
                "type": "string",
                "example": "Order receipt",
                "description": "This parameter is not present in 'search' response"
              },
              "subject": {
                "type": "string",
                "example": "Order receipt for {{ product_name }}"
              },
              "tags": {
                "type": "array",
                "required": [
                  "types",
                  "example"
                ],
                "items": {
                  "type": "string",
                  "example": "one"
                }
              }
            }
          }
        }
      },
      "templates_res": {
        "type": "object",
        "properties": {
          "request_id": {
            "type": "string",
            "example": "13ab6f3a-ddea-11eb-b4ce-1002b51e60a4"
          },
          "data": {
            "type": "object",
            "properties": {
              "continue_token": {},
              "templates": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "id",
                    "subject",
                    "tags"
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "5355878"
                    },
                    "name": {
                      "type": "string",
                      "example": "Order receipt",
                      "description": "This parameter is only returned in 'search' response"
                    },
                    "template_name": {
                      "type": "string",
                      "example": "Order receipt",
                      "description": "This parameter is not present in 'search' response"
                    },
                    "subject": {
                      "type": "string",
                      "example": "Order receipt for {{ product_name }}"
                    },
                    "tags": {
                      "type": "array",
                      "required": [
                        "types",
                        "example"
                      ],
                      "items": {
                        "type": "string",
                        "example": "one"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "error_400": {
        "description": "400",
        "content": {
          "application/json": {
            "examples": {
              "Result": {
                "value": {
                  "request_id": "22e5acba-43bf-11e6-ae42-408d5cce2644",
                  "data": {
                    "error": "You do not have permission to access this API endpoint",
                    "error_code": "E_ApiResponseCodes.ENDPOINT_PERMISSION_DENIED"
                  }
                }
              }
            },
            "schema": {
              "type": "object",
              "properties": {
                "request_id": {
                  "type": "string",
                  "example": "22e5acba-43bf-11e6-ae42-408d5cce2644"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "You do not have permission to access this API endpoint"
                    },
                    "error_code": {
                      "type": "string",
                      "example": "E_ApiResponseCodes.ENDPOINT_PERMISSION_DENIED"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "SENDER DOMAINS"
    },
    {
      "name": "SINGLE SENDER EMAILS"
    },
    {
      "name": "EMAILS"
    },
    {
      "name": "EMAIL ARCHIVE"
    },
    {
      "name": "ACTIVITY"
    },
    {
      "name": "SMTP USERS"
    },
    {
      "name": "ALLOWED SENDERS"
    },
    {
      "name": "STATISTICS"
    },
    {
      "name": "SUPPRESSIONS"
    },
    {
      "name": "SUBACCOUNTS"
    },
    {
      "name": "TEMPLATES"
    },
    {
      "name": "SMS"
    },
    {
      "name": "WEBHOOKS"
    }
  ],
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/domain/add": {
      "post": {
        "tags": [
          "SENDER DOMAINS"
        ],
        "summary": "Add a sender domain",
        "description": "Add a sender domain to your account. Note that you must own any domains you wish to include in this list, as you will be required to verify and authenticate the emails sent via that domain. Find full details in the Sender Domains Guide.",
        "operationId": "add-sender-domain",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "domain"
                ],
                "properties": {
                  "domain": {
                    "type": "string",
                    "description": "Domain to add as a sender domain"
                  },
                  "tracking_subdomain": {
                    "type": "string",
                    "description": "An optional subdomain used for click or open tracking and unsubscribe links"
                  },
                  "returnpath_subdomain": {
                    "type": "string",
                    "description": "An optional subdomain to use as a return-path subdomain"
                  },
                  "auto_verify": {
                    "type": "boolean",
                    "description": "If true, verify the domain now removing the need to call the 'domain/verify' endpoint or wait for the periodic verification every 7 minutes.<br> <br> <strong>Note:</strong> In order to successfully complete the verification, the 'tracking_subdomain' and 'returnpath_subdomain' must be configured in the domain DNS and propagated.",
                    "default": true
                  },
                  "subaccount_id": {
                    "type": "string",
                    "description": "If you wish to make this API call on behalf of a subaccount then include its unique ID here"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain added",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "request_id": "e023461c-8c86-11e9-b984-408d5cce2644",
                      "data": {
                        "domains": [
                          {
                            "domain": {
                              "fulldomain": "example.com",
                              "subdomain": null,
                              "domain": "example",
                              "suffix": "com",
                              "dkim_selector": "s123456",
                              "dkim_verified": true,
                              "dkim_status": "",
                              "dkim_value": "dkim.smtp2go.net",
                              "rpath_selector": "em123456",
                              "rpath_verified": true,
                              "rpath_status": "",
                              "rpath_value": "return.smtp2go.net"
                            },
                            "trackers": [
                              {
                                "fulldomain": "link.example.com",
                                "subdomain": "link",
                                "domain": "example",
                                "suffix": "com",
                                "cname_verified": false,
                                "cname_status": "",
                                "cname_value": "",
                                "enabled": false
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "required": [
                    "request_id",
                    "data"
                  ],
                  "properties": {
                    "request_id": {
                      "type": "string",
                      "example": "e023461c-8c86-11e9-b984-408d5cce2644"
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "domains"
                      ],
                      "properties": {
                        "domains": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "domain": {
                                "type": "object",
                                "required": [
                                  "dkim_value",
                                  "domain",
                                  "suffix",
                                  "rpath_status",
                                  "rpath_verified",
                                  "rpath_value",
                                  "dkim_status",
                                  "dkim_verified",
                                  "subdomain",
                                  "fulldomain",
                                  "dkim_selector"
                                ],
                                "properties": {
                                  "dkim_value": {
                                    "type": "string",
                                    "example": "dkim.smtp2go.net"
                                  },
                                  "domain": {
                                    "type": "string",
                                    "example": "example"
                                  },
                                  "suffix": {
                                    "type": "string",
                                    "example": "com"
                                  },
                                  "rpath_selector": {
                                    "type": "string",
                                    "example": ""
                                  },
                                  "rpath_status": {
                                    "type": "string",
                                    "example": ""
                                  },
                                  "rpath_verified": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "rpath_value": {
                                    "type": "string",
                                    "example": "return.smtp2go.net"
                                  },
                                  "dkim_status": {
                                    "type": "string",
                                    "example": ""
                                  },
                                  "dkim_verified": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "subdomain": {},
                                  "fulldomain": {
                                    "type": "string",
                                    "example": "example.com"
                                  },
                                  "dkim_selector": {
                                    "type": "string",
                                    "example": "s123456"
                                  }
                                }
                              },
                              "trackers": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "required": [
                                    "cname_value",
                                    "cname_status",
                                    "cname_verified",
                                    "enabled"
                                  ],
                                  "properties": {
                                    "cname_value": {
                                      "type": "string",
                                      "example": ""
                                    },
                                    "cname_status": {
                                      "type": "string",
                                      "example": ""
                                    },
                                    "cname_verified": {
                                      "type": "boolean",
                                      "example": false,
                                      "default": true
                                    },
                                    "domain": {
                                      "type": "string",
                                      "example": "example"
                                    },
                                    "suffix": {
                                      "type": "string",
                                      "example": "com"
                                    },
                                    "subdomain": {
                                      "type": "string",
                                      "example": "link"
                                    },
                                    "enabled": {
                                      "type": "boolean",
                                      "example": false,
                                      "default": true
                                    },
                                    "fulldomain": {
                                      "type": "string",
                                      "example": "link.example.com"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "request_id": "22e5acba-43bf-11e6-ae42-408d5cce2644",
                      "data": {
                        "error": "You do not have permission to access this API endpoint",
                        "error_code": "E_ApiResponseCodes.ENDPOINT_PERMISSION_DENIED"
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string",
                      "example": "22e5acba-43bf-11e6-ae42-408d5cce2644"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "You do not have permission to access this API endpoint"
                        },
                        "error_code": {
                          "type": "string",
                          "example": "E_ApiResponseCodes.ENDPOINT_PERMISSION_DENIED"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/domain/tracking": {
      "post": {
        "tags": [
          "SENDER DOMAINS"
        ],
        "summary": "Edit the tracking subdomain",
        "description": "A Tracking Subdomain is used to monitor your email opens and clicks. This endpoint allows you to edit a tracking subdomain for a particular sender domain. Full details can be found in the Sender Domain Guide.",
        "operationId": "edit-tracking-domain",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "domain",
                  "old_subdomain",
                  "new_subdomain"
                ],
                "properties": {
                  "domain": {
                    "type": "string",
                    "description": "The sender domain to edit the tracking subdomain for",
                    "default": null
                  },
                  "old_subdomain": {
                    "type": "string",
                    "description": "The domains old tracking subdomain",
                    "default": "track"
                  },
                  "new_subdomain": {
                    "type": "string",
                    "description": "The domains new tracking subdomain",
                    "default": "link"
                  },
                  "subaccount_id": {
                    "type": "string",
                    "description": "If you wish to make this API call on behalf of a subaccount then include its unique ID here"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tracking subdomain edited",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "request_id": "86758976-934b-11e7-b5be-480fcf01a6f2",
                      "data": {
                        "domains": [
                          {
                            "domain": {
                              "fulldomain": "exampledomain.com",
                              "subdomain": "",
                              "domain": "exampledomain",
                              "suffix": "com",
                              "dkim_selector": "s123456",
                              "dkim_verified": true,
                              "dkim_status": "",
                              "dkim_value": "dkim.smtp2go.net",
                              "rpath_selector": "em744766",
                              "rpath_verified": true,
                              "rpath_status": "",
                              "rpath_value": "return.smtp2go.net"
                            },
                            "trackers": [
                              {
                                "fulldomain": "newsubdomain.exampledomain.com",
                                "subdomain": "newsubdomain",
                                "domain": "exampledomain",
                                "suffix": "com",
                                "cname_verified": true,
                                "cname_status": "",
                                "cname_value": "track.smtp2go.com",
                                "enabled": true
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "required": [
                    "request_id",
                    "data"
                  ],
                  "properties": {
                    "request_id": {
                      "type": "string",
                      "example": "e023461c-8c86-11e9-b984-408d5cce2644"
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "domains"
                      ],
                      "properties": {
                        "domains": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "domain": {
                                "type": "object",
                                "required": [
                                  "dkim_value",
                                  "domain",
                                  "suffix",
                                  "rpath_status",
                                  "rpath_verified",
                                  "rpath_value",
                                  "dkim_status",
                                  "dkim_verified",
                                  "subdomain",
                                  "fulldomain",
                                  "dkim_selector"
                                ],
                                "properties": {
                                  "dkim_value": {
                                    "type": "string",
                                    "example": "dkim.smtp2go.net"
                                  },
                                  "domain": {
                                    "type": "string",
                                    "example": "example"
                                  },
                                  "suffix": {
                                    "type": "string",
                                    "example": "com"
                                  },
                                  "rpath_selector": {
                                    "type": "string",
                                    "example": ""
                                  },
                                  "rpath_status": {
                                    "type": "string",
                                    "example": ""
                                  },
                                  "rpath_verified": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "rpath_value": {
                                    "type": "string",
                                    "example": "return.smtp2go.net"
                                  },
                                  "dkim_status": {
                                    "type": "string",
                                    "example": ""
                                  },
                                  "dkim_verified": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "subdomain": {},
                                  "fulldomain": {
                                    "type": "string",
                                    "example": "example.com"
                                  },
                                  "dkim_selector": {
                                    "type": "string",
                                    "example": "s123456"
                                  }
                                }
                              },
                              "trackers": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "required": [
                                    "cname_value",
                                    "cname_status",
                                    "cname_verified",
                                    "enabled"
                                  ],
                                  "properties": {
                                    "cname_value": {
                                      "type": "string",
                                      "example": ""
                                    },
                                    "cname_status": {
                                      "type": "string",
                                      "example": ""
                                    },
                                    "cname_verified": {
                                      "type": "boolean",
                                      "example": false,
                                      "default": true
                                    },
                                    "domain": {
                                      "type": "string",
                                      "example": "example"
                                    },
                                    "suffix": {
                                      "type": "string",
                                      "example": "com"
                                    },
                                    "subdomain": {
                                      "type": "string",
                                      "example": "link"
                                    },
                                    "enabled": {
                                      "type": "boolean",
                                      "example": false,
                                      "default": true
                                    },
                                    "fulldomain": {
                                      "type": "string",
                                      "example": "link.example.com"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "request_id": "22e5acba-43bf-11e6-ae42-408d5cce2644",
                      "data": {
                        "error": "You do not have permission to access this API endpoint",
                        "error_code": "E_ApiResponseCodes.ENDPOINT_PERMISSION_DENIED"
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string",
                      "example": "22e5acba-43bf-11e6-ae42-408d5cce2644"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "You do not have permission to access this API endpoint"
                        },
                        "error_code": {
                          "type": "string",
                          "example": "E_ApiResponseCodes.ENDPOINT_PERMISSION_DENIED"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/domain/returnpath": {
      "post": {
        "tags": [
          "SENDER DOMAINS"
        ],
        "summary": "Edit the return-path subdomain",
        "description": "A Return Path Subdomain is used to instruct the server where to return emails that are not deliverable (ie. Bounces).  This endpoint allows you to edit a Return Path Subdomain for a particular sender domain. Full details can be found in the Sender Domain Guide.",
        "operationId": "edit-return-path-domain",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "domain",
                  "old_subdomain",
                  "new_subdomain"
                ],
                "properties": {
                  "domain": {
                    "type": "string",
                    "description": "The sender domain to edit the return-path subdomain for"
                  },
                  "old_subdomain": {
                    "type": "string",
                    "description": "The domains old return-path subdomain",
                    "default": "returns"
                  },
                  "new_subdomain": {
                    "type": "string",
                    "description": "The domains new return-path subdomain",
                    "default": "return"
                  },
                  "subaccount_id": {
                    "type": "string",
                    "description": "If you wish to make this API call on behalf of a subaccount then include its unique ID here"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return-path subdomain edited",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "request_id": "86758976-934b-11e7-b5be-480fcf01a6f2",
                      "data": {
                        "domains": [
                          {
                            "domain": {
                              "fulldomain": "example.com",
                              "subdomain": null,
                              "domain": "example",
                              "suffix": "com",
                              "dkim_selector": "s123456",
                              "dkim_verified": true,
                              "dkim_status": "",
                              "dkim_value": "dkim.smtp2go.net",
                              "rpath_selector": "returns",
                              "rpath_verified": true,
                              "rpath_status": "",
                              "rpath_value": "return.smtp2go.net"
                            },
                            "trackers": [
                              {
                                "fulldomain": "link.example.co.uk",
                                "subdomain": "link",
                                "domain": "example",
                                "suffix": "co.uk",
                                "cname_verified": false,
                                "cname_status": "Lookup CNAME(link.example.co.uk.) on ns1.falcoda.net returned no results\nLookup CNAME(link.example.co.uk.) on ns1.falcoda.net returned no results\nLookup CNAME(link.example.co.uk.) on ns2.falcoda.net returned no results\nLookup CNAME(link.example.co.uk.) on ns2.falcoda.net returned no results",
                                "cname_value": "",
                                "enabled": false
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "required": [
                    "request_id",
                    "data"
                  ],
                  "properties": {
                    "request_id": {
                      "type": "string",
                      "example": "e023461c-8c86-11e9-b984-408d5cce2644"
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "domains"
                      ],
                      "properties": {
                        "domains": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "domain": {
                                "type": "object",
                                "required": [
                                  "dkim_value",
                                  "domain",
                                  "suffix",
                                  "rpath_status",
                                  "rpath_verified",
                                  "rpath_value",
                                  "dkim_status",
                                  "dkim_verified",
                                  "subdomain",
                                  "fulldomain",
                                  "dkim_selector"
                                ],
                                "properties": {
                                  "dkim_value": {
                                    "type": "string",
                                    "example": "dkim.smtp2go.net"
                                  },
                                  "domain": {
                                    "type": "string",
                                    "example": "example"
                                  },
                                  "suffix": {
                                    "type": "string",
                                    "example": "com"
                                  },
                                  "rpath_selector": {
                                    "type": "string",
                                    "example": ""
                                  },
                                  "rpath_status": {
                                    "type": "string",
                                    "example": ""
                                  },
                                  "rpath_verified": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "rpath_value": {
                                    "type": "string",
                                    "example": "return.smtp2go.net"
                                  },
                                  "dkim_status": {
                                    "type": "string",
                                    "example": ""
                                  },
                                  "dkim_verified": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "subdomain": {},
                                  "fulldomain": {
                                    "type": "string",
                                    "example": "example.com"
                                  },
                                  "dkim_selector": {
                                    "type": "string",
                                    "example": "s123456"
                                  }
                                }
                              },
                              "trackers": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "required": [
                                    "cname_value",
                                    "cname_status",
                                    "cname_verified",
                                    "enabled"
                                  ],
                                  "properties": {
                                    "cname_value": {
                                      "type": "string",
                                      "example": ""
                                    },
                                    "cname_status": {
                                      "type": "string",
                                      "example": ""
                                    },
                                    "cname_verified": {
                                      "type": "boolean",
                                      "example": false,
                                      "default": true
                                    },
                                    "domain": {
                                      "type": "string",
                                      "example": "example"
                                    },
                                    "suffix": {
                                      "type": "string",
                                      "example": "com"
                                    },
                                    "subdomain": {
                                      "type": "string",
                                      "example": "link"
                                    },
                                    "enabled": {
                                      "type": "boolean",
                                      "example": false,
                                      "default": true
                                    },
                                    "fulldomain": {
                                      "type": "string",
                                      "example": "link.example.com"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "request_id": "22e5acba-43bf-11e6-ae42-408d5cce2644",
                      "data": {
                        "error": "You do not have permission to access this API endpoint",
                        "error_code": "E_ApiResponseCodes.ENDPOINT_PERMISSION_DENIED"
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string",
                      "example": "22e5acba-43bf-11e6-ae42-408d5cce2644"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "You do not have permission to access this API endpoint"
                        },
                        "error_code": {
                          "type": "string",
                          "example": "E_ApiResponseCodes.ENDPOINT_PERMISSION_DENIED"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/domain/verify": {
      "post": {
        "tags": [
          "SENDER DOMAINS"
        ],
        "summary": "Verify a sender domain",
        "description": "Verify a sender domain on your account removing the need to wait for the periodic verification every 7 minutes.",
        "operationId": "verify-a-sender-domain",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "domain"
                ],
                "properties": {
                  "domain": {
                    "type": "string",
                    "description": "Domain to attempt verification for"
                  },
                  "subaccount_id": {
                    "type": "string",
                    "description": "If you wish to make this API call on behalf of a subaccount then include its unique ID here"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sender domain verification",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "request_id": "e023461c-8c86-11e9-b984-408d5cce2644",
                      "data": {
                        "domains": [
                          {
                            "domain": {
                              "fulldomain": "example.com",
                              "subdomain": null,
                              "domain": "example",
                              "suffix": "com",
                              "dkim_selector": "s123456",
                              "dkim_verified": true,
                              "dkim_status": "",
                              "dkim_value": "dkim.smtp2go.net",
                              "rpath_selector": "em744766",
                              "rpath_verified": true,
                              "rpath_status": "",
                              "rpath_value": "return.smtp2go.net"
                            },
                            "trackers": [
                              {
                                "fulldomain": "link.example.com",
                                "subdomain": "link",
                                "domain": "example",
                                "suffix": "com",
                                "cname_verified": false,
                                "cname_status": "",
                                "cname_value": "track.smtp2go.net",
                                "enabled": false
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "required": [
                    "request_id",
                    "data"
                  ],
                  "properties": {
                    "request_id": {
                      "type": "string",
                      "example": "e023461c-8c86-11e9-b984-408d5cce2644"
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "domains"
                      ],
                      "properties": {
                        "domains": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "domain": {
                                "type": "object",
                                "required": [
                                  "dkim_value",
                                  "domain",
                                  "suffix",
                                  "rpath_status",
                                  "rpath_verified",
                                  "rpath_value",
                                  "dkim_status",
                                  "dkim_verified",
                                  "subdomain",
                                  "fulldomain",
                                  "dkim_selector"
                                ],
                                "properties": {
                                  "dkim_value": {
                                    "type": "string",
                                    "example": "dkim.smtp2go.net"
                                  },
                                  "domain": {
                                    "type": "string",
                                    "example": "example"
                                  },
                                  "suffix": {
                                    "type": "string",
                                    "example": "com"
                                  },
                                  "rpath_selector": {
                                    "type": "string",
                                    "example": ""
                                  },
                                  "rpath_status": {
                                    "type": "string",
                                    "example": ""
                                  },
                                  "rpath_verified": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "rpath_value": {
                                    "type": "string",
                                    "example": "return.smtp2go.net"
                                  },
                                  "dkim_status": {
                                    "type": "string",
                                    "example": ""
                                  },
                                  "dkim_verified": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "subdomain": {},
                                  "fulldomain": {
                                    "type": "string",
                                    "example": "example.com"
                                  },
                                  "dkim_selector": {
                                    "type": "string",
                                    "example": "s123456"
                                  }
                                }
                              },
                              "trackers": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "required": [
                                    "cname_value",
                                    "cname_status",
                                    "cname_verified",
                                    "enabled"
                                  ],
                                  "properties": {
                                    "cname_value": {
                                      "type": "string",
                                      "example": ""
                                    },
                                    "cname_status": {
                                      "type": "string",
                                      "example": ""
                                    },
                                    "cname_verified": {
                                      "type": "boolean",
                                      "example": false,
                                      "default": true
                                    },
                                    "domain": {
                                      "type": "string",
                                      "example": "example"
                                    },
                                    "suffix": {
                                      "type": "string",
                                      "example": "com"
                                    },
                                    "subdomain": {
                                      "type": "string",
                                      "example": "link"
                                    },
                                    "enabled": {
                                      "type": "boolean",
                                      "example": false,
                                      "default": true
                                    },
                                    "fulldomain": {
                                      "type": "string",
                                      "example": "link.example.com"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "request_id": "22e5acba-43bf-11e6-ae42-408d5cce2644",
                      "data": {
                        "error": "You do not have permission to access this API endpoint",
                        "error_code": "E_ApiResponseCodes.ENDPOINT_PERMISSION_DENIED"
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string",
                      "example": "22e5acba-43bf-11e6-ae42-408d5cce2644"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "You do not have permission to access this API endpoint"
                        },
                        "error_code": {
                          "type": "string",
                          "example": "E_ApiResponseCodes.ENDPOINT_PERMISSION_DENIED"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/domain/view": {
      "post": {
        "tags": [
          "SENDER DOMAINS"
        ],
        "summary": "View sender domains",
        "description": "Returns a list of sender domains on your account",
        "operationId": "view-sender-domains",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "domain": {
                    "type": "string",
                    "description": "(Optional) If provided, will only retrieve records for this domain"
                  },
                  "subaccount_id": {
                    "type": "string",
                    "description": "If you wish to make this API call on behalf of a subaccount then include its unique ID here"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of sender domains",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "request_id": "e023461c-8c86-11e9-b984-408d5cce2644",
                      "data": {
                        "domains": [
                          {
                            "domain": {
                              "fulldomain": "example.com",
                              "subdomain": null,
                              "domain": "example",
                              "suffix": "com",
                              "dkim_selector": "s123456",
                              "dkim_verified": true,
                              "dkim_status": "",
                              "dkim_value": "dkim.smtp2go.net",
                              "rpath_selector": "em744766",
                              "rpath_verified": true,
                              "rpath_status": "",
                              "rpath_value": "return.smtp2go.net"
                            },
                            "trackers": [
                              {
                                "fulldomain": "link.example.com",
                                "subdomain": "link",
                                "domain": "example",
                                "suffix": "com",
                                "cname_verified": true,
                                "cname_status": "",
                                "cname_value": "track.smtp2go.net",
                                "enabled": true
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "required": [
                    "request_id",
                    "data"
                  ],
                  "properties": {
                    "request_id": {
                      "type": "string",
                      "example": "e023461c-8c86-11e9-b984-408d5cce2644"
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "domains"
                      ],
                      "properties": {
                        "domains": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "domain": {
                                "type": "object",
                                "required": [
                                  "dkim_value",
                                  "domain",
                                  "suffix",
                                  "rpath_status",
                                  "rpath_verified",
                                  "rpath_value",
                                  "dkim_status",
                                  "dkim_verified",
                                  "subdomain",
                                  "fulldomain",
                                  "dkim_selector"
                                ],
                                "properties": {
                                  "dkim_value": {
                                    "type": "string",
                                    "example": "dkim.smtp2go.net"
                                  },
                                  "domain": {
                                    "type": "string",
                                    "example": "example"
                                  },
                                  "suffix": {
                                    "type": "string",
                                    "example": "com"
                                  },
                                  "rpath_selector": {
                                    "type": "string",
                                    "example": ""
                                  },
                                  "rpath_status": {
                                    "type": "string",
                                    "example": ""
                                  },
                                  "rpath_verified": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "rpath_value": {
                                    "type": "string",
                                    "example": "return.smtp2go.net"
                                  },
                                  "dkim_status": {
                                    "type": "string",
                                    "example": ""
                                  },
                                  "dkim_verified": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "subdomain": {},
                                  "fulldomain": {
                                    "type": "string",
                                    "example": "example.com"
                                  },
                                  "dkim_selector": {
                                    "type": "string",
                                    "example": "s123456"
                                  }
                                }
                              },
                              "trackers": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "required": [
                                    "cname_value",
                                    "cname_status",
                                    "cname_verified",
                                    "enabled"
                                  ],
                                  "properties": {
                                    "cname_value": {
                                      "type": "string",
                                      "example": ""
                                    },
                                    "cname_status": {
                                      "type": "string",
                                      "example": ""
                                    },
                                    "cname_verified": {
                                      "type": "boolean",
                                      "example": false,
                                      "default": true
                                    },
                                    "domain": {
                                      "type": "string",
                                      "example": "example"
                                    },
                                    "suffix": {
                                      "type": "string",
                                      "example": "com"
                                    },
                                    "subdomain": {
                                      "type": "string",
                                      "example": "link"
                                    },
                                    "enabled": {
                                      "type": "boolean",
                                      "example": false,
                                      "default": true
                                    },
                                    "fulldomain": {
                                      "type": "string",
                                      "example": "link.example.com"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "request_id": "22e5acba-43bf-11e6-ae42-408d5cce2644",
                      "data": {
                        "error": "You do not have permission to access this API endpoint",
                        "error_code": "E_ApiResponseCodes.ENDPOINT_PERMISSION_DENIED"
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string",
                      "example": "22e5acba-43bf-11e6-ae42-408d5cce2644"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "You do not have permission to access this API endpoint"
                        },
                        "error_code": {
                          "type": "string",
                          "example": "E_ApiResponseCodes.ENDPOINT_PERMISSION_DENIED"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/domain/remove": {
      "post": {
        "tags": [
          "SENDER DOMAINS"
        ],
        "summary": "Remove a sender domain",
        "description": "Remove a sender domain from your account",
        "operationId": "remove-sender-domain",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "domain"
                ],
                "properties": {
                  "domain": {
                    "type": "string",
                    "description": "Sender Domain to delete."
                  },
                  "subaccount_id": {
                    "type": "string",
                    "description": "If you wish to make this API call on behalf of a subaccount then include its unique ID here"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sender domain removed",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "request_id": "117607da-8c88-11e9-96fa-408d5cce2644",
                      "data": {
                        "domains": []
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "required": [
                    "request_id",
                    "data"
                  ],
                  "properties": {
                    "request_id": {
                      "type": "string",
                      "example": "e023461c-8c86-11e9-b984-408d5cce2644"
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "domains"
                      ],
                      "properties": {
                        "domains": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "domain": {
                                "type": "object",
                                "required": [
                                  "dkim_value",
                                  "domain",
                                  "suffix",
                                  "rpath_status",
                                  "rpath_verified",
                                  "rpath_value",
                                  "dkim_status",
                                  "dkim_verified",
                                  "subdomain",
                                  "fulldomain",
                                  "dkim_selector"
                                ],
                                "properties": {
                                  "dkim_value": {
                                    "type": "string",
                                    "example": "dkim.smtp2go.net"
                                  },
                                  "domain": {
                                    "type": "string",
                                    "example": "example"
                                  },
                                  "suffix": {
                                    "type": "string",
                                    "example": "com"
                                  },
                                  "rpath_selector": {
                                    "type": "string",
                                    "example": ""
                                  },
                                  "rpath_status": {
                                    "type": "string",
                                    "example": ""
                                  },
                                  "rpath_verified": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "rpath_value": {
                                    "type": "string",
                                    "example": "return.smtp2go.net"
                                  },
                                  "dkim_status": {
                                    "type": "string",
                                    "example": ""
                                  },
                                  "dkim_verified": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "subdomain": {},
                                  "fulldomain": {
                                    "type": "string",
                                    "example": "example.com"
                                  },
                                  "dkim_selector": {
                                    "type": "string",
                                    "example": "s123456"
                                  }
                                }
                              },
                              "trackers": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "required": [
                                    "cname_value",
                                    "cname_status",
                                    "cname_verified",
                                    "enabled"
                                  ],
                                  "properties": {
                                    "cname_value": {
                                      "type": "string",
                                      "example": ""
                                    },
                                    "cname_status": {
                                      "type": "string",
                                      "example": ""
                                    },
                                    "cname_verified": {
                                      "type": "boolean",
                                      "example": false,
                                      "default": true
                                    },
                                    "domain": {
                                      "type": "string",
                                      "example": "example"
                                    },
                                    "suffix": {
                                      "type": "string",
                                      "example": "com"
                                    },
                                    "subdomain": {
                                      "type": "string",
                                      "example": "link"
                                    },
                                    "enabled": {
                                      "type": "boolean",
                                      "example": false,
                                      "default": true
                                    },
                                    "fulldomain": {
                                      "type": "string",
                                      "example": "link.example.com"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "request_id": "22e5acba-43bf-11e6-ae42-408d5cce2644",
                      "data": {
                        "error": "You do not have permission to access this API endpoint",
                        "error_code": "E_ApiResponseCodes.ENDPOINT_PERMISSION_DENIED"
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string",
                      "example": "22e5acba-43bf-11e6-ae42-408d5cce2644"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "You do not have permission to access this API endpoint"
                        },
                        "error_code": {
                          "type": "string",
                          "example": "E_ApiResponseCodes.ENDPOINT_PERMISSION_DENIED"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/single_sender_emails/add": {
      "post": {
        "tags": [
          "SINGLE SENDER EMAILS"
        ],
        "summary": "Add a single sender email",
        "description": "Use the API to add a single sender email address to your account, to use from which to send mail. If the email address has previously been added and not yet verified, this action will simply resend the verification email.",
        "operationId": "add-a-single-sender-email",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email_address"
                ],
                "properties": {
                  "email_address": {
                    "type": "string",
                    "description": "The email address that you wish to send emails from",
                    "default": "send@example.com"
                  },
                  "message": {
                    "type": "string",
                    "description": "(Optional) If provided, will add a text only message to the email."
                  },
                  "subaccount_id": {
                    "type": "string",
                    "description": "If you wish to make this API call on behalf of a subaccount then include its unique ID here"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Single sender email added",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "just_returns_this": "ok"
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "required": [
                    "request_id"
                  ],
                  "properties": {
                    "request_id": {
                      "type": "string",
                      "example": "e023461c-8c86-11e9-b984-408d5cce2644"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "request_id": "22e5acba-43bf-11e6-ae42-408d5cce2644",
                      "data": {
                        "error": "You do not have permission to access this API endpoint",
                        "error_code": "E_ApiResponseCodes.ENDPOINT_PERMISSION_DENIED"
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string",
                      "example": "22e5acba-43bf-11e6-ae42-408d5cce2644"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "You do not have permission to access this API endpoint"
                        },
                        "error_code": {
                          "type": "string",
                          "example": "E_ApiResponseCodes.ENDPOINT_PERMISSION_DENIED"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/single_sender_emails/view": {
      "post": {
        "tags": [
          "SINGLE SENDER EMAILS"
        ],
        "summary": "View single sender emails",
        "description": "Returns a list of single sender email addresses on your account, along with their verification status. If you include a email_address, the response will only include items matching this search.",
        "operationId": "view-all-single-sender-emails",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email_address": {
                    "type": "string",
                    "description": "(Optional) If provided, only return email addresses that match value"
                  },
                  "subaccount_id": {
                    "type": "string",
                    "description": "If you wish to make this API call on behalf of a subaccount then include its unique ID here"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of single sender emails",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "data": {
                        "request_id": "e023461c-8c86-11e9-b984-408d5cce2644",
                        "senders": [
                          {
                            "email_address": "test@test.com",
                            "verified": true
                          }
                        ]
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "request_id",
                        "senders"
                      ],
                      "properties": {
                        "request_id": {
                          "type": "string",
                          "example": "e023461c-8c86-11e9-b984-408d5cce2644"
                        },
                        "senders": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "email_address",
                              "verified"
                            ],
                            "properties": {
                              "email_address": {
                                "type": "string",
                                "example": "test@test.com"
                              },
                              "verified": {
                                "type": "boolean",
                                "example": true,
                                "default": true
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "request_id": "22e5acba-43bf-11e6-ae42-408d5cce2644",
                      "data": {
                        "error": "You do not have permission to access this API endpoint",
                        "error_code": "E_ApiResponseCodes.ENDPOINT_PERMISSION_DENIED"
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string",
                      "example": "22e5acba-43bf-11e6-ae42-408d5cce2644"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "You do not have permission to access this API endpoint"
                        },
                        "error_code": {
                          "type": "string",
                          "example": "E_ApiResponseCodes.ENDPOINT_PERMISSION_DENIED"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/single_sender_emails/remove": {
      "post": {
        "tags": [
          "SINGLE SENDER EMAILS"
        ],
        "summary": "Remove a single sender email",
        "description": "Remove a single sender email address from your account. Include the address to remove as the email_address parameter.",
        "operationId": "remove-a-single-sender-email",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email_address"
                ],
                "properties": {
                  "email_address": {
                    "type": "string",
                    "description": "The email address to remove from your Single Sender Emails",
                    "default": "send@example.com"
                  },
                  "subaccount_id": {
                    "type": "string",
                    "description": "If you wish to make this API call on behalf of a subaccount then include its unique ID here"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Single sender email removed",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
[...]
